body,
html {
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100% auto;
  position: relative;

}

footer {
  position: fixed;
  color: white;
  background-color: dimgray;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
}

.navbar {
  position: absolute;
}

.title {
  color: white;
  text-align: center;
  padding-top: 175px;
  padding-bottom: 175px;
}

.loginForm {
  margin-top: 100px;
  border-style: none;
  border-radius: 25px;

}

.form-rounded {
  border-radius: 1rem;
}

#download {
  height: 100vh;
}
